.login-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Висота контейнера на всю висоту вікна */
    text-align: center;
}

.login-container form {
    background-color: #dfdfdf; /* Додати фон для форми */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}